In [1]:
import pandas as pd
import os

# 获取桌面路径（适用于Windows和Mac系统）
desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")

# 完整的文件路径
filename = os.path.join(desktop_path, 'eng_list.csv')

# 读取文件
df = pd.read_csv(filename)

cond=df['序号'].notnull()
df=df[cond]

df=df.astype({'学号':int})

var_list=['序号', '学号', '姓名', '班级']

df=df[var_list]

In [2]:
df['班级'].replace(r'\d\d\d\d|级|\d|班','',regex=True).value_counts()

班级
经济学类                6
商学院本科               2
应用经济学院经济学类          2
经济学（中国特色经济学方向）拔尖    1
Name: count, dtype: int64

In [3]:
df_groups=df.sample(frac = 1,random_state=202509)

df_groups['number'] = range(len(df_groups))

n_members=4

df_groups['group']=df_groups['number']//n_members+1

In [4]:
df_groups.sort_values(by='group')

      序号          学号   姓名                     班级  number  group
11  11.0  2023200763  陈丽啦             2023经济学类3班       0      1
1    1.0  2022200665  章子航  2022经济学（中国特色经济学方向）拔尖班       1      1
4    4.0  2022201794   李春           商学院2022级本科1班       2      1
9    9.0  2023200631  郑融奇             2023经济学类3班       3      1
5    5.0  2022202573  刘子意      2022级应用经济学院经济学类2班       4      2
10  10.0  2023200743  周方健             2023经济学类3班       5      2
2    2.0  2022201745  张嘉麟           商学院2022级本科1班       6      2
3    3.0  2022201791  马雨翔             2022经济学类1班       7      2
8    8.0  2022202729  梁东成      2022级应用经济学院经济学类2班       8      3
7    7.0  2022202717  张凌蔚             2022经济学类1班       9      3
6    6.0  2022202683  靳沛峣             2022经济学类3班      10      3